body {
    background-image url('../img/background-addon.png'), url('../img/background.jpg')
    background-position top right, center center
    background-repeat no-repeat, repeat
    background-size 50%, 66px
}
