html, body {
    font-family 'Paytone One'
    color white
}

.amarelo {
    color amarelo
}

.text-center {
    text-align center
}

h1 {
    font-size 62px
    line-height 1.2
    
    +below(850px){
        font-size 50px
    }
    +below(450px){
        font-size 40px
    }
}